<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parking Monitoring</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="car-park">
    <div class="exit exit--front fuselage"></div>
    <ol class="cabin fuselage">

      <li class="row row--1">
        <ol class="parks" type="A">
          <li class="park">
            <input type="checkbox" id="1A" />
            <label for="1A" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">1A</label>
            <div class="timestamp" id="timestamp-1A"></div>
          </li>
          <li class="park">
            <input type="checkbox" id="1B" />
            <label for="1B" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">1B</label>
            <div class="timestamp" id="timestamp-1B"></div>
          </li>
          <li class="park">
            <input type="checkbox" id="1C" />
            <label for="1C" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">1C</label>
            <div class="timestamp" id="timestamp-1C"></div>
          </li>
          <li class="park">
            <input type="checkbox" disabled id="1D" />
            <label for="1D" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">Occupied</label>
          </li>
        </ol>
      </li>
      <li class="row row--2">
        <ol class="parks" type="A">
          <li class="park"><input type="checkbox" id="2A" /><label for="2A" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">2A</label></li>
          <li class="park"><input type="checkbox" id="2B" /><label for="2B" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">2B</label></li>
          <li class="park"><input type="checkbox" id="2C" /><label for="2C" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">2C</label></li>
          <li class="park"><input type="checkbox" id="2D" /><label for="2D" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">2D</label></li>
        </ol>
      </li>
      <li class="row row--3">
        <ol class="parks" type="A">
          <li class="park"><input type="checkbox" id="3A" /><label for="3A" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">3A</label></li>
          <li class="park"><input type="checkbox" id="3B" /><label for="3B" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">3B</label></li>
          <li class="park"><input type="checkbox" id="3C" /><label for="3C" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">3C</label></li>
          <li class="park"><input type="checkbox" id="3D" /><label for="3D" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">3D</label></li>
        </ol>
      </li>
      <li class="row row--4">
        <ol class="parks" type="A">
          <li class="park"><input type="checkbox" id="4A" /><label for="4A" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">4A</label></li>
          <li class="park"><input type="checkbox" id="4B" /><label for="4B" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">4B</label></li>
          <li class="park"><input type="checkbox" id="4C" /><label for="4C" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">4C</label></li>
          <li class="park"><input type="checkbox" id="4D" /><label for="4D" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">4D</label></li>
        </ol>
      </li>
      <li class="row row--5">
        <ol class="parks" type="A">
          <li class="park"><input type="checkbox" id="5A" /><label for="5A" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">5A</label></li>
          <li class="park"><input type="checkbox" id="5B" /><label for="5B" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">5B</label></li>
          <li class="park"><input type="checkbox" id="5C" /><label for="5C" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">5C</label></li>
          <li class="park"><input type="checkbox" id="5D" /><label for="5D" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">5D</label></li>
        </ol>
      </li>
      <li class="row row--6">
        <ol class="parks" type="A">
          <li class="park"><input type="checkbox" id="6A" /><label for="6A" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">6A</label></li>
          <li class="park"><input type="checkbox" id="6B" /><label for="6B" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">6B</label></li>
          <li class="park"><input type="checkbox" id="6C" /><label for="6C" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">6C</label></li>
          <li class="park"><input type="checkbox" id="6D" /><label for="6D" data-bs-toggle="popover" data-bs-placement="top" title="Parking Spot">6D</label></li>
        </ol>
      </li>
    </ol>
    <div class="exit exit--back fuselage"></div>
    <div class="parkingtime" style="text-align:center; color:#6c757d; margin-top:40px;">
  <h1>Parking Price</h1>
  <h3>Monday-Friday (8:00-17:00) -> 1$ per hour</h3>
  <h3>Saturday-Sunday (full day) -> free</h3>
</div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
  <script src="/js/script.js"></script>
  </body>
</html>